* {
    font-family: 'Ubuntu', sans-serif;    
}

/*Start of site*/

html {
    scroll-behavior: smooth;
}

/*Content*/

body {
    margin: 0 auto;
    --navload: 500ms;
    background-color: #2e2957;
         
}

main {
    margin: 0 auto;
}

/*Nav Bar*/

nav {
    margin: 0 auto;
    background-color: #100c27e3;
    transition: all 500ms ease-in;
    animation: navload var(--navload) ease-out;
    position: fixed;
    width: 100%;
    z-index: 1;
}

nav ul {
    margin: 0 auto;
    list-style-type: none;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav a {
    margin: 0 auto;
    padding: 20px; 
    text-decoration: none;
    width: 25%;
    font-size: 18pt;
    transition: all 500ms ease-out;
    border-bottom: 2px solid #02010a00;
    color: #E4DFDA;
}

nav a:hover {
    background-color: #E4DFDA;
    cursor: pointer;
    color: #5548e4;
    border-bottom: 2px solid #5548e4;
    box-shadow: 0px 2px 2px -2px #726DA8;
}

a:visited {
    color: #E4DFDA;
}

/*Mid Section*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #02010A;
    gap: 200px;
    transform: translateY(10%);
    animation: sectionload 1000ms ease-in-out;
}

#aboutMe {
    width: 1600px;
    height: 700px;
    background-color: #100c27e3; 
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: aboutmeload 3s ease-in-out;
    opacity: 1;  
}

#aboutMe h1 {
    font-size: 28px;
    color: #E4DFDA;
    transition: all 500ms ease-in-out;
    animation: movetopfade 5s ease-in-out;
    transform: translateY(-900%);
    opacity: 1;
}

span {
    opacity: 0;
    transition: all 1s ease;
}

span.fade{
    opacity: 1;
}

#intro {
    width: 1600px;
    height: 700px;
    background-image: url("../pictures/triangle_pattern.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    transform: translateY(-10%);
    animation: projectload 1200ms ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8%;
    box-shadow: #02010a96 0px 0px 4px 0px,
    #02010a96 0px 0px 16px 0px;
}

#project1 {
    height: 60%;
    width: 25%;
    background-color: #02010ac4;
    border-radius: 4px;
    transform: translateY(5%);
    animation: projectload 1400ms ease-in-out;
    box-shadow: #02010a96 0px 0px 4px 0px,
    #02010a96 0px 0px 16px 0px;

}

#project2 {
    height: 60%;
    width: 25%;
    background-color: #02010ac4;
    border-radius: 4px;
    transform: translateY(5%);
    animation: projectload 1600ms ease-in-out;
    box-shadow: #02010a96 0px 0px 4px 0px,
    #02010a96 0px 0px 16px 0px;
    
}

#project3 {
    height: 60%;
    width: 25%;
    background-color: #02010ac4;
    border-radius: 4px;
    transform: translateY(5%);
    animation: projectload 1800ms ease-in-out;
    box-shadow: #02010a96 0px 0px 4px 0px,
    #02010a96 0px 0px 16px 0px;
    
}

/*Footer*/

footer {
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    background-color: #100c27e3;
    color: #E4DFDA;
    transition: all 2s ease-in;
    animation: footerload var(--navload) ease-in;
    position: fixed;
}

/*Animations*/

@keyframes navload {
    0% {
        transform: translateY(-100%);
        background-color: #E4DFDA;
    }

    50% {
        background-color: #726DA8;
    }

    100% {
        transform: translateY(0);
    }    
}

@keyframes sectionload {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(10%);
    }
}

@keyframes projectload {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        transform: translateY(20%);
    }
}

@keyframes aboutmeload {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }    
}

@keyframes movetopfade {
    0% {
        transform: translateY(0);
        opacity: 1;
    }

    100% {
        transform: translateY(-900%);
        opacity: 0.75;
    }
}

@keyframes footerload {
    0% {
        transform: translateX(-100%);
        background-color: #E4DFDA;
    }

    50% {
        background-color: #726DA8;   
    }
    100% {
        transform: translateX(0);
    }    
}

@keyframes introanimate {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

/*For Mobile*/

@media only screen and (max-width: 600px) {
    nav a {
        font-size: 11pt;
    }

    #intro {
        width: 400px;
        height: 500px;
        background-color: #02010A;
        border-radius: 8px;
        transform: translateY(-20%);
    }

    section p {
        font-size: 14pt;
    }

    #project1 {
        height: 65%;
        width: 80%;
        
    
    }
    
    #project2 {
        display: none;
        height: 65%;
        width: 25%;
        
        
    }
    
    #project3 {
        display: none;
        height: 65%;
        width: 25%;
        
        
    }

    #aboutMe {
        width: 400px;
        height: 500px;
        background-color: #100c27e3; 
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        animation: aboutmeload 3s ease-in-out;
        opacity: 1;  
    }

    #aboutMe h1 {
        transform: translateY(-40%);
    }

    @keyframes movetopfade {
        0% {
            transform: translateY(100%);
            opacity: 1;
        }
    
        100% {
            transform: translateY(-40%);
            opacity: 0.75;
        }
    }

}

