:root {
    --body: rgb(36, 19, 97);
    --text: #fff;
    --header: rgba(48, 37, 97, 0.884);
    --main: rgba(21, 5, 66, 0.842);
    --nav: rgba(35, 16, 88, 0.781);
    --anim: rgb(191, 168, 253);
    --btn: rgb(22, 3, 73);
}

* {
    font-family: 'Ubuntu', sans-serif;   
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--body);
    color: var(--text);
    overflow-x: hidden;
    background-image: url("/MLSites_Responsive/pictures/backgroundstars1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
}

nav {
    background-color: var(--nav);
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    animation: onload 1s ease-in-out;
    transition: all 1s ease-in-out;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

nav ul a {
    width: 100%;
    padding: 20px;
    transition: all 500ms ease-in-out;
    color: var(--text);
    font-size: 14pt;
}

nav ul a:hover {
    background-color: var(--text);
    color: var(--btn)
}

header {
    margin: 0 auto;
    background-color: var(--header);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
    max-width: 100%;
    border-radius: 12px 12px 0 0;
    gap: 40px;
    font-size: 14pt;
    margin-top: 1%;
}

header a {
    background-color: var(--text);
    color: var(--btn);
    padding: 5px;
    border-radius: 4px;
    transition: all 500ms ease-in-out;
}

header a:hover {
    background-color: var(--btn);
    color: var(--text);    
}

main {
    font-size: 14pt;
    margin: 0 auto;
    background-color: var(--main);
    max-width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

main ul {
    text-align: center;
}


article {
    margin: 0 auto;
    background-color: var(--header);
    max-width: 100%;
    padding: 20px;
    padding-bottom: 60px;
    text-align: center;
}

article ul {
    display: inline-flex;
}

article img {
    border-radius: 50%;
    padding: 5px;
}

footer {
    background-color: var(--nav);
    width: 100%;
    text-align: center;
    margin: 0 auto;
    left: 0;
    bottom: 0;
    position: fixed;
    z-index: 1;
    animation: onloadfooter 1s ease-in-out;
    transition: all 1s ease-in-out;
    
}

#container {
    margin: 0 auto;
    max-width: 100%;
    
}

#mid {
    margin: 0 auto;
    transform: translateY(3%);
    margin-bottom: 5%;
}

.self {
    border-radius: 8px;
    box-shadow: #02010a96 0px 0px 4px 0px,
    #02010a96 0px 0px 16px 0px;
}

@keyframes onload {
    0% {
        transform: translateY(-100%);
        background-color: var(--anim);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes onloadfooter {
    0% {
        transform: translateX(-100%);
        background-color: var(--anim);

    }

    100% {
        transform: translateX(0);
    }
}

@media only screen and (max-width: 460px){

    main {
        font-size: 12pt;
    }

    header {
        font-size: 12pt;
    }

    nav ul a {
        font-size: 11pt;
    }

    #mid {
        margin-bottom: 10%;
    }
}

@media only screen and (max-width: 380px){

    nav ul a{
        font-size: 9pt;
    }
}